@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">mitchell@marshhome.net</a><br />
    <strong>Phone:</strong> <a href="mailto:Marketing@example.com">(949) 943 - 9049</a>
</address>
