@{
    ViewData["Title"] = "Contact";
}
<div class="col-md-12 text-center"style="margin-top:100px;position:center;">
    <div class="col-md-offset-2  col-md-8 row" style="background-color:lightcyan;border-radius:25px">
        <h1>EMAIL</h1>
        <a href="mailto:mitchell@marshhome.net"><b>mitchell@marshhome.net</b></a>
    </div>
    <div class="col-md-offset-2 col-md-8 row" style="margin-bottom:300px;background-color:lightcyan;border-radius:25px;margin-top:25px">
        <h1>PHONE</h1>
        <b>(949) 943 - 9049</b>
    </div>
</div>
