@{
    ViewData["Title"] = "View Filed Docs";
}
@using PermitPalace.GlobalUtilities;
@using PermitPalace.Models.HomeViewModels;
@model FiledDocumentsViewModel
@using (Html.BeginForm())
{
    <div class="container col-md-12" style="margin-top:100px;">
        <div class="form-group text-center row">
            <div class="col-md-3">
                <b class="pull-right">Document Name:</b>
            </div>
            <div class="col-md-3">
                <select asp-for="Document_Type" asp-items="@ViewBag.docs" style="width:100%;"></select>
                <span asp-validation-for="Document_Type"></span>
            </div>

            <div class="col-md-2">
                <b class="pull-right">Marine DOD ID:</b>
            </div>
            <div class="col-md-3">
                <input asp-for="Personnel_DOD_ID" style="width:100%;" />
                <span asp-validation-for="Personnel_DOD_ID"></span>
            </div>
        </div>
        <div class="form-group text-center row">
            <div class="col-md-3">
                <b class="pull-right">Approved By Supervisor DOD ID:</b>
            </div>
            <div class="col-md-3">
                <input asp-for="Approved_By_Supervisor_DOD_ID" style="width:100%;"/>
                <span asp-validation-for="Approved_By_Supervisor_DOD_ID"></span>
            </div>

            <div class="col-md-2">
                <b class="pull-right">Rank:</b>
            </div>
            <div class="col-md-3">
                <select asp-for="Rank" asp-items="@(Rank.GetRanksAsSelectList())" style="width:100%;" ></select>
                <span asp-validation-for="Rank"></span>
            </div>
        </div>
        <input class="col-md-offset-6 btn btn-success" type="submit" value="Search Database" />
    </div>
}