@{
    ViewData["Title"] = "Home";
}


<div class="container col-md-12" style="margin-top:100px;">
    <h2 class="text-center center-block" style="color:black">Welcome to the MCLTS</h2>
        <div class="row" style="margin-top:50px">
            <a class="col-md-offset-1 col-md-4 text-center"  style="background-color:peachpuff;height:200px;border-radius:20px">
                <h1><i class="fa fa-comment" style="margin-top:15px;font-size:300%"><p style="font-size:30%">Pending Requests</p></i></h1>
            </a>
            <div class="col-md-2"></div>
            <a class="col-md-4 text-center center-block" asp-action="FiledDocuments" asp-controller="Home" style="background-color:peachpuff;height:200px;border-radius:20px">
               <h1><i class="fa fa-file-text" style="margin-top:15px;font-size:300%"><p style="font-size:30%">Filed Documents</p></i></h1>
            </a>
        </div>
    <div class="row" style="margin-top:50px">
        <a class="col-md-offset-1 col-md-4 text-center" style="background-color:peachpuff;height:200px;border-radius:20px">
            <h1><i class="fa fa-users" style="margin-top:15px;font-size:300%"><p style="font-size:30%">Profile Lookup</p></i></h1>
        </a>
        <div class="col-md-2"></div>
        <a class="col-md-4 text-center center-block" asp-action="AddProfile" asp-controller="Home" style="background-color:peachpuff;height:200px;border-radius:20px">
            <h1><i class="fa fa-plus" style="margin-top:15px;font-size:300%"><p style="font-size:30%">Add Profile</p></i></h1>
        </a>
    </div>
</div>
